.circle-progress {
  display: flex;
  flex-wrap: 2rem;
  justify-content: center;
  align-items: center;
  background: gainsboro;

  .circle {
    width: 150px;
    height: 150px;
    position: relative;
    margin: 2rem auto;
    background: red;
    border-radius: 50%;

    .mask,
    .mask .fill {
      width: 100%;
      height: 100%;
      position: absolute;
      border-radius: 50%;
    }

    .mask {
      clip: rect(0, 150px, 150px, 75px);
    }

    .mask.full,
    .mask .fill {
      transform: rotate(calc(.7*180deg));
    }

    .mask .fill {
      clip: rect(0, 75px, 150px, 0px);
      background: blue;
    }

    .inside-circle {
      width: 80%;
      height: 80%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      position: absolute;
      text-align: center;
      background-color: white;
      border-radius: 50%;
      z-index: 20;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}